@model Project2.Models.Entities.CartItems

@{
    ViewData["Title"] = "Empty";
}

<h2>Empty</h2>

<h3>Are you sure you want to empty your shopping cart?</h3>
<div>
    <form asp-action="Empty">
        <input type="submit" value="Empty Cart" class="btn btn-sm btn-danger" /> |
        <a asp-action="Index" asp-controller="ShoppingCart" class="btn btn-sm btn-default">Back to List</a>
    </form>
</div>
