@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><a href="mailto:dingj1@etsu.edu">dingj1@etsu.edu</a></p>
<p>CSCI 3110 Project 2</p>
<p>East Tenneessee State University</p>
